.background {
  background: url("assets/images/loginBackground.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22%;
}

:host >>> .p-card-title {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

:host >>> .p-card-body {
  padding: 1.5em 2.5em;
}

input {
  width: 100%;
}

:host >>> .p-card {
  border: 1px solid #B7791F;
  background-color: #EDF2F790;
  backdrop-filter: blur(4px);
}

:host >>> .p-card-title {
  text-align: center;
}

:host >>> .p-card .p-card-content {
  margin-top: 1.5em;
}

.inputField {
  margin-bottom: 2em;
  /**padding: 0 1em;**/
}

:host >>> .p-button {
  background-color: #ECC94B;
  color: black;
  border: none;
  width: 100%;
}

:host >>> .p-button:hover {
  filter: brightness(90%);
}

:host >>> .p-button:focus {
  box-shadow: none;
}

a {
  color: black;
}


/** MAKE RESPONSIVE
@media only screen and (max-width: 600px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}**/
