.header {
  background-color: #B7791F;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  padding: 1em 2em;
}

a {
  color: black;
}

:host >>> .p-avatar:hover {
  filter: brightness(90%);
}

:host >>> .p-button:hover {
  filter: brightness(90%);
}

:host >>> .p-button {
  background-color: #ECC94B;
  color: black;
  border: none;
}
